<a href="https://colab.research.google.com/github/pradeep71195/Python-Basics/blob/main/Python_Assignment_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
year = int(input())
year_list =[]
for i in range(6):
  year_list.append(year)
  year += 1

print(f"Year list - {year_list}")

1995
Year list - [1995, 1996, 1997, 1998, 1999, 2000]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [3]:
my3rdBday = year_list[3]
print(f"My third birthday year is - {my3rdBday}")

My third birthday year is - 1998

3.In the years list, which year were you the oldest?

In [5]:
oldest = max(year_list)
print(f"My oldest year in the year list is - {oldest}")

My oldest year in the year list is - 2000

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

Answer: The .title() method is used to capitalize the element but the change is not in-place hence we are storing the result to the same list variable.

In [7]:
things = [i.title() for i in things]
things

['Mozzarella', 'Cinderella', 'Salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [8]:
surprise = ["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [11]:
#lowercase last element
surprise[-1].lower()

'harpo'

In [12]:
#reverse last element
surprise[-1][::-1]

'opraH'

In [13]:
#capitalize last element
surprise[-1][::-1].capitalize()

'Oprah'

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [15]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [18]:
e2f["walrus"]

'morse'

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [19]:
f2e = dict((key, value) for value, key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [20]:
f2e['chien']

'dog'

12. Make and print a set of English words from the keys in e2f.

In [24]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [25]:
life = {
    'animals': {'cats':['Henri','Grumpy','Lucy'], 'octopi':'', 'emus':''},
    'plants':'',
    'other':''
}

life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

14. Print the top-level keys of life.

In [26]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

15. Print the keys for life['animals'].

In [27]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

16. Print the values for life['animals']['cats']

In [31]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']