<a href="https://colab.research.google.com/github/pradeep71195/Python-Basics/blob/main/Python_Assignment_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to print the string 'too low' if guess_me is less than 7, 'too high' if greater than 7, and 'just right' if equal to 7.

In [4]:
guess_me = 7

if guess_me < 7:
  print("too low")
elif guess_me > 7:
  print("too high")
else:
  print("just right")

just right

2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while loop that compares start with guess_me. Print too low if start is less than guess me. If start equals guess_me, print 'found it!' and exit the loop. If start is greater than guess_me, print 'oops' and exit the loop. Increment start at the end of the loop.

In [12]:
guess_me = 7
start = 1
while True:
  if start < guess_me:
    print("too low")
  elif start == guess_me:
    print("found it!")
    break
  else:
    print("oops")
    break
  start += 1

too low
too low
too low
too low
too low
too low
found it!

3. Print the following values of the list [3, 2, 1, 0] using a for loop.

In [15]:
l1 = [3,2,1,0]

for i in range(len(l1)):
  print(l1[i])

3
2
1
0

4. Use a list comprehension to make a list of the even numbers in range(10)

In [18]:
l1 = []
for i in range(10):
  if i%2 == 0:
    l1.append(i)
l1

[0, 2, 4, 6, 8]

5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the keys, and use the square of each key as its value.

In [20]:
l1 = []
for i in range(10):
  l1.append(i**2)
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [23]:
odd = set()
for i in range(10):
  if i%3 == 0:
    odd.add(i)
odd

{0, 3, 6, 9}

7. Use a generator comprehension to return the string 'Got ' and a number for the numbers in range(10). Iterate through this by using a for loop.

In [26]:
str_generator = ("Got " +str(i) for i in range(10))
for ele in str_generator:
  print(ele)

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

8. Define a function called good that returns the list ['Harry', 'Ron', 'Hermione'].

In [28]:
def good():
  return ['Harry', 'Ron', 'Hermione']

print(good())

['Harry', 'Ron', 'Hermione']

9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.

In [33]:
get_odds = (n for n in range(10) if not n%2 == 0)
count = 0
for i in get_odds:
  if count == 2:
    print("The third element is - ",i)
    break
  count += 1

The third element is -  5

10. Define an exception called OopsException. Raise this exception to see what happens. Then write the code to catch this exception and print 'Caught an oops'.

In [37]:
#class definition
class OopsException(Exception):
  pass

#function to raise exception
def raise_Exception(n):
  if n < 0:
    raise OopsException(n)

#code to catch the exception
try:
  num = -19
  raise_Exception(num)
except OopsException as e:
  print("Caught on Oops")

Caught on Oops

11. Use zip() to make a dictionary called movies that pairs these lists: titles = ['Creature of Habit', 'Crewel Fate'] and plots = ['A nun turns into a monster', 'A haunted yarn shop'].

In [38]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
movies = dict(zip(titles, plots))
print(movies)

{'Creature of Habit': 'A nun turns into a monster', 'Crewel Fate': 'A haunted yarn shop'}