<a href="https://colab.research.google.com/github/pradeep71195/Python-Basics/blob/main/Python_Assignment_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = "This is a test of the emergency text system"
file1 = open("test.txt", "w")
file1.write(test1)
file1.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

Answer: There are difference between test1 and test2

In [4]:
file1 = open("test.txt", "r")
test2 = file1.read()
file1.close()
print(test2)
print(test1)

This is a test of the emergency text system
This is a test of the emergency text system

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [5]:
import csv

head = ['title', 'author', 'year']

rows = [
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]
]

with open('books.csv', "w") as csvfile:
  csvWriter = csv.writer(csvfile)
  csvWriter.writerow(head)
  csvWriter.writerows(rows)
  csvfile.close()

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [8]:
import sqlite3
con = sqlite3.connect('books.db')
cur = con.cursor()
cur.execute("CREATE TABLE books (title nvarchar, author nvarchar, year int)")

5. Read books.csv and insert its data into the book table.

In [24]:
import csv

with open("books.csv", "r") as csvfile:
  csvReader = csv.reader(csvfile)
  next(csvReader, None) #skips header row
  for lines in csvReader:
    print(f"Inserting - INSERT INTO books VALUES ('{lines[0]}', '{lines[1]}', {lines[2]})")
    cur.execute(f"INSERT INTO books VALUES ('{lines[0]}', '{lines[1]}', {lines[2]})")
    con.commit()
  csvfile.close()

Inserting - INSERT INTO books VALUES ('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
Inserting - INSERT INTO books VALUES ('Perdido Street Station', 'China Miéville', 2000)
Inserting - INSERT INTO books VALUES ('Thud!', 'Terry Pratchett', 2005)
Inserting - INSERT INTO books VALUES ('The Spellman Files', 'Lisa Lutz', 2007)
Inserting - INSERT INTO books VALUES ('Small Gods', 'Terry Pratchett', 1992)

6. Select and print the title column from the book table in alphabetical order.

In [28]:
cur.execute("SELECT title FROM books ORDER BY title")
for row in cur:
  print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [29]:
result = cur.execute("SELECT * FROM books ORDER BY year")
for row in result:
  print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [31]:
from sqlalchemy import create_engine
conn = create_engine("sqlite:///books.db")
conn

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [32]:
!pip install redis

Collecting redis
  Downloading redis-5.0.0-py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.1/250.1 kB 5.6 MB/s eta 0:00:00
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.3)
Installing collected packages: redis
Successfully installed redis-5.0.0

In [ ]:
import redis
redis_client = redis.Redis(host='127.0.0.1', port=6379, db=0)

redis_client.hset('test', 'count', 1)
redis_client.hset('test', 'name', 'Fester Bestertester')

all_fields = redis_client.hgetall('test')

all_fields_str = {key.decode('utf-8'): value.decode('utf-8') for key, value in all_fields.items()}

for key, value in all_fields_str.items():
    print(f"{key}: {value}")